---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-preview">
          {{ post.excerpt | strip_html }}
        </div>

        <div class="comments-count">
          <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">Комментарии</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <div class="prev_container">
        <a href="{{ paginator.previous_page_path }}" class="previous">Предыдущие</a>
      </div>
    {% endif %}
      <div class="page_container">
        <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
      </div>
    {% if paginator.next_page %}
      <div class="next_container">
        <a href="{{ paginator.next_page_path }}" class="next">Следующие</a>
      </div>
    {% endif %}
  </div>

  <p class="rss-subscribe">подпишитесь <a href="{{ "/feed.xml" | prepend: site.baseurl }}">на RSS</a></p>

<script src="/assets/libs/trianglify.min.js"></script>
<script>
    function generateCanvas() {    
      var pattern = Trianglify({
          width: window.innerWidth,
          height: window.innerHeight
      });

      return pattern.canvas();
    }

    function updateCanvas() {
      $('#welcome .background').html(generateCanvas());
    }

    $(function() {
      $('#welcome a').hover(function() {
        console.log('On hover');
        $(this).find('img').toggleClass('hidden');
      });

      $( window ).resize(function() {
        updateCanvas();
      });

      // First time generation
      updateCanvas();
    });
</script>

</div>
