<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{% if page.url == "/" %}<i class="fa fa-code"></i>{% else %}<i class="fa fa-long-arrow-left"></i>{% endif %}&nbsp;{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title and page.url != "/tag.html" %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-info"></i>&nbsp;{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
</header>

{% if paginator %}
  <div class="intro">
    <div class="wrapper">
      <p class="text first">Добро пожаловать на мой блог!</p>
      <br />
      <p class="text second">Тут я пишу немного о программировании и жизни. <span style="white-space: nowrap;">Приятного чтения <i class="fa fa-smile-o"></i></span></p>
    </div>
  </div>
{% endif %}

