$base_fonts_url: '/fonts';

/* Roboto font */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), url('#{$base_fonts_url}/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), url('#{$base_fonts_url}/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('#{$base_fonts_url}/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), url('#{$base_fonts_url}/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* Roboto-Mono font */

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono Thin'), url('#{$base_fonts_url}/roboto-mono/RobotoMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotMono Light'), url('#{$base_fonts_url}/roboto-mono/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono'), url('#{$base_fonts_url}/roboto-mono/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono Bold'), url('#{$base_fonts_url}/roboto-mono/RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
