/**
 * Site header
 */
 .site-header {
    /* border-top: 5px solid $grey-color-dark; */
    border-bottom: 1px solid $grey-color-light;
    min-height: $header-height;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: $header-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: $header-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    background-color: #f1f4ff;

    a {
        font-weight: 400;
    }    
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
 .page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    margin-top: $spacing-unit;

    > li {
        margin-bottom: $spacing-unit*3;
    }

    h2 {
        margin-top: $spacing-unit / 2;
    }
}

.post-meta {
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
}

.comments-count {
    margin-top: 10px;
}


/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing-unit;

    h1 {
        font-weight: bold;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    a {
        font-weight: 400;
    }
}

/* Post images on index page */

.post-image {
    width: 30%;
    max-height: 500px;
    margin-right: 20px;
    margin-bottom: 10px;

    float: left;

    @include media-query($on-palm) {
        float: none;
        margin: 0;
        width: 100%;
    }
}


/* Post header image */

.header-image {
    width: 100%;
    height: $header-image-height;
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 100%;
    top: $header-height;
    z-index: -10;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.header-image .overlay {
    width: 100%;
    height: $header-image-height;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.post.with-image .post-header {
    position: absolute;
    top: $header-image-height/2-30px;
    color: #fff;

    .post-title {
        color: inherit;
    }

    .post-meta {
        color: inherit;
    }
}

.post.with-image .post-content {
    margin-top: $header-image-height+20px;
}


/* About Page */

.about-info {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;

    img {
        width: 250px;
        border-radius: 150px;

        @include media-query($on-palm) {
            width: 150px;
        }
    }

    @include media-query($on-palm) {
        float: none;
        margin-left: 0;
    }
}


/* Floating action button: FAB */

.fab {
    position: fixed;
    right: 10%;
    bottom: -$fab-size;

    width: $fab-size;
    height: $fab-size;
    background-color: $brand-color;
    border-radius: 100%;
    cursor: pointer;

    -webkit-transition: bottom $fab-vis-duration ease;
    -ms-transition: bottom $fab-vis-duration ease;
    transition: bottom $fab-vis-duration ease;

    -webkit-box-shadow: $fab-shadow-offset $fab-shadow-offset $fab-shadow-offset 0px rgba(0,0,0, $fab-shadow-opacity);
    -moz-box-shadow: $fab-shadow-offset $fab-shadow-offset $fab-shadow-offset 0px rgba(0,0,0, $fab-shadow-opacity);
    box-shadow: $fab-shadow-offset $fab-shadow-offset $fab-shadow-offset 0px rgba(0,0,0, $fab-shadow-opacity);

    &:active {
        background-color: lighten($brand-color, 10%);

        -webkit-box-shadow: $fab-shadow-offset-active $fab-shadow-offset-active $fab-shadow-offset-active 0px rgba(0,0,0, $fab-shadow-opacity);
        -moz-box-shadow: $fab-shadow-offset-active $fab-shadow-offset-active $fab-shadow-offset-active 0px rgba(0,0,0, $fab-shadow-opacity);
        box-shadow: $fab-shadow-offset-active $fab-shadow-offset-active $fab-shadow-offset-active 0px rgba(0,0,0, $fab-shadow-opacity);
    }

    &.visible {
        bottom: 10%;

        @include media-query($on-palm) {
            bottom: $fab-size/2;
        }            
    }

    @include media-query($on-palm) {
        right: $fab-size/2;
    }            
}

.fab .icon {
    display: block;
    width: $fab-icon-size;
    height: $fab-icon-size;
    background-image: url(/images/ic_smile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    margin-top: (100%-$fab-icon-size)/2;
}

/* Source: https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


/* Pagination */

.pagination {
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    height: 30px;

    .prev_container, .next_container, .page_container {
        position: absolute;
        width: 30%;
    }

    .page_container {
        text-align: center;
        left: 50%;
        margin-left: -15%;
    }
    .next_container {
        text-align: right;
        right: 0px;
    }

    .previous, .page_number, .next {
        border-radius: 30px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .previous:hover, .next:hover {
        background: #eee;
        text-decoration: none;
    }
}


/* Next/Prev links. Source: http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html */

.PageNavigation {
    font-size: 18px;
    display: block;
    width: auto;
    overflow: hidden;
    margin-bottom: 40px;

    h1 {
        margin-bottom: 20px;
    }

    a {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
        font-weight: 500;
    }
    
    .next {
        text-align: right;
    }
}


/* Intro block on Index page */

.intro {
    height: 200px;
    box-sizing: border-box;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    margin-bottom: 40px;
    overflow: hidden;
    /* background-color: #eff8ff;*/
    border-bottom: 1px solid #e8e8e8;
    background-image: url(/images/header_bg.jpg);

    -webkit-transition: background-image $intro-transition-duration linear;
    -ms-transition: background-image $intro-transition-duration linear;
    transition: background-image $intro-transition-duration linear;

    .text {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.75);
        color: #000;
        display: inline-block;
        padding: 0 15px;
        font-size: $base-font-size;
        font-weight: 400;
        margin: 0;
    }

    .text.first {
        margin-top: 50px;
        margin-bottom: 15px;

        @include media-query($on-palm) {
            margin-top: 40px;
            margin-bottom: 0;
        }            
    }

    .text.second {
        margin-left: 50px;

        @include media-query($on-palm) {
            margin-left: 0;
        }            
    }
}

/* Tags */
.tag-list {
    margin-top: 30px;
    margin-left: 0;

    li {
        margin-right: 5px;
    }
}

.tag {
    background-color: #f1f4ff;
    padding: 0px 7px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    font-weight: $base-font-weight;
    font-size: $small-font-size;

    -webkit-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken(#f1f4ff, 10%);
        text-decoration: none;
    }

    i {
        display: inline;
    }
}

.posts-by-tag {
  list-style-type: none;
}


/* Button "Read more" */

.read-more {
    display: none;

    border-radius: 30px;
    padding: 10px;
    border: 1px solid #ccc;

    &:hover {
        text-decoration: none;
        background: #eee;
        text-decoration: none;
    }

    @include media-query($on-palm) {
        display: inline-block;
    }            
}

