<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.url == "/index.html" %}
    <div id="welcome">
      <div class="background"></div>
      <div class="foreground">
        <img src="/images/welcome-logo.png">
        <p class="title">#Кодерские байки</p>
        <p class="description">Блог о программировании и жизни</p>
      </div>
    </div>
  {% endif %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
