<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    
    <div class="fab">
      <span class="icon"></span>
    </div>

    <!-- Scripts -->
    <script src="/assets/libs/jquery-2.1.4.min.js"></script>
    <script src="/assets/libs/anime.min.js" type="text/javascript"></script>

    {% if paginator %}
    <script src="/assets/libs/trianglify.min.js"></script>
    {% endif %}    

    <script src="/assets/custom.js" type="text/javascript"></script>

    {% if paginator == nil %}
    <script id="dsq-count-scr" src="//poetofcoderu.disqus.com/count.js" async></script>
    {% endif %}    
  </body>

</html>
